<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech-Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
     <div class="container-fluid p-0">
          <div class="row text-center">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              <a href="/"><h1 class="page-title">MVC Tech Blog</h1></a>
            </div>
            <div class="col-md-4">
              {{#if loggedIn}}
                  <a href="/dashboard">dashboard</a>
                  <button id="logout" class="btn btn-light">Logout</button>
              {{else}}
              <a href="/login" class="btn btn-light">Signup/Login</a>
              {{/if}}
            </div>
          </div>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>