<form class="login-form">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">
              Login
            </h3>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="email-login"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
              </div>
              <input
                type="password"
                class="form-control"
                id="password-login"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<form class="signup-form">
  <div class="container-fluid h-10 p-5">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">
              Sign Up
            </h3>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="email-signup"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="password-signup"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="/javascript/login.js"></script>